/* Colores
gris oscuro: #1d252c
gris claro: #626262
background gris: #1b2127 
celeste: #026fff
*/

body {
    font-family: 'Source Sans Pro', sans-serif;

}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: -.2px;
    color: white;
    /* text-transform: uppercase;
    text-decoration: dashed; */
}

h1 strong {
    color: yellowgreen;
}

.hero {
    height: 300px;
    background-image: url(../img/hero.jpg);
    background-color: #1b2127;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.project__details {
    width: 500px;
}

.project__imageContainer {
    width: 500px;
}

.header {
    background-color: #1b2127;
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
}