body {
    font-family: 'Source Sans Pro', sans-serif;

}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: -.2px;
    /* text-transform: uppercase;
    text-decoration: dashed; */
}

.hero {
    height: 300px;
}

.project__details {
    width: 500px;
}