/* Colores
gris oscuro: #1d252c
gris claro: #626262
background gris: #1b2127 
celeste: #026fff
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;

}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: -.2px;
    color: white;
    margin: 0px;
    /* text-transform: uppercase;
    text-decoration: dashed; */
}

h1 strong {
    color: yellowgreen;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo img {
    height: 50px;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.hero {
    height: 300px;
    background-image: url(../img/hero.jpg);
    background-color: #1b2127;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.portfolio {
    background: #fafafa;
}

.projects {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
}

.project__details {
    width: 500px;
}

.project__imageContainer {
    width: 500px;
}

.header {
    background-color: #1b2127;
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
}

.flexbox__padre {
    display: flex;
/*  flex-direction: row; */
 flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    align-items: center;
    border: 1px solid blue;
}

.box__hijo1 {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 2px solid red;
    flex-shrink: 0;
    align-self: flex-start;
}

.box__hijo2 {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 2px solid green;
    flex-shrink: 0;
    align-self: ;

}

.box__hijo3 {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 2px solid black;
    flex-shrink: 0;
    align-self: flex-end;
}

.footer {
    background-color: #1b1b1b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
    width: 60px;
}

.footer a {
    color: white;
}